<div class="comic-card">
  <div class="comic-navigation">
    <a href={{prevComic data.num}}>
      <img class="navigation-icons" src="/icons/prev.svg" />
    </a>
    <h1 class="card-header">
      {{data.safe_title}}
    </h1>
    <a href={{nextComic data.num}}>
      <img class="navigation-icons" src="/icons/next.svg" />
    </a>
  </div>
  <div>
    <img src={{data.img}} alt={{data.alt}} class="comic-img" />
  </div>
  <div class="views-date">
    <span class="release-date">{{data.date}}</span>
    <span class="views">Views:</span>
  </div>
  {{#if displayTranscript}}
    <a href="#transcript-show" class="nav-link">Show Transcript</a>
    <div class="comic-transcript" id="transcript-show">
      <a href="#transcript-hide" class="nav-link">Hide Transcript</a>
      {{{data.transcript}}}
      <a href="#transcript-hide" class="nav-link">Hide Transcript</a>
    </div>
  {{/if}}
  <div class="comic-navigation">
    <a href={{prevComic data.num}}>
      <img class="navigation-icons" src="/icons/prev.svg" />
    </a>
    <h1 class="card-header">
      {{data.safe_title}}
    </h1>
    <a href={{nextComic data.num}}>
      <img class="navigation-icons" src="/icons/next.svg" />
    </a>
  </div>
</div>